@model IEnumerable<TrashCollector.Models.Customers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <h4>Customers</h4>
    <table class=" table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpdate)
            </th>
        </tr>

 @foreach (var item in Model)
 {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPickUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpdate)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@ @*dont want the employee to edit the customer info*@
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </td>
    </tr>
 }
</table>